.DS_Store
.obsidian/graph.json
.obsidian/workspace.json

# Ignore everything in the QuickAdd plugin folder
.obsidian/plugins/quickadd/*
.obsidian/plugins/readwise-official/*
.obsidian/plugins/readwise-official/data.json

# Except data.json
!.obsidian/plugins/quickadd/data.json

Readwise/
