[submodule "content"]
	path = content
	url = git@github.com:matt2ology/tech-journal-and-blog-content.git
[submodule "public"]
	path = public
	url = git@github.com:matt2ology/matt2ology.github.io.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
